In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as matDates

step - 2)	Read the daily confirmed cases and deaths into two dataframes can be found at this github page: a)	confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
b)	deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

In [2]:
dataFrame_confirm_cases_2019 = pd.read_csv ('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
dataFrame_death_cases_2019 = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [4]:
#These are the confirmed cases of covid 2019
dataFrame_confirm_cases_2019

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205541,205612,205612,205802,205830,205907,206073,206133,206145,206206
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333316,333322,333330,333330,333338,333343,333360,333381,333391,333408
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271057,271061,271061,271079,271082,271090,271096,271100,271102,271107
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,47219,47219,47219,47219,47219
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104676,104676,104676,104676,104676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,703036
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333721,333746,333746,333746,333746,333746,333746
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,257893,259164,259164,259164,259164,259164

In [5]:
dataFrame_death_cases_2019

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7833,7834,7834,7834,7834
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,3594
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,156,157,157,157,157,157
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1923,1924,1924,1924,1924,1924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,4019
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5606,5620,5620,5620,5620,5620

SUM OF TOTAL CONFIRM CASES Of COVID_19:

In [6]:
dataFrame_confirm_cases_2019['Total_Confirmed_Cases'] = dataFrame_confirm_cases_2019.iloc[:,4:].sum(axis=1)
dataFrame_confirm_cases_2019

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,Total_Confirmed_Cases
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,205612,205612,205802,205830,205907,206073,206133,206145,206206,110214917
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,333322,333330,333330,333338,333343,333360,333381,333391,333408,153830108
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271061,271061,271079,271082,271090,271096,271100,271102,271107,156966802
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,47219,47219,47219,47219,47219,20010202
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104676,104676,104676,104676,104676,50040541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703036,703036,703036,703036,703036,703036,703036,703036,703036,345738380
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,163637
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,6744660
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,333721,333721,333721,333746,333746,333746,333746,333746,333746,163803740
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,257893,257893,257893,257893,259164,259164,259164,259164,259164,115554724

In [7]:
dataFrame_death_cases_2019['Total_Death_Cases'] = dataFrame_death_cases_2019.iloc[:,4:].sum(axis=1)

dataFrame_death_cases_2019

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22,12/3/22,12/4/22,Total_Death_Cases
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7833,7833,7833,7833,7833,7834,7834,7834,7834,4673864
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3594,3594,3594,3594,3594,3594,3594,3594,3594,2143775
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,4247580
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,156,156,156,156,157,157,157,157,157,111622
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1923,1923,1923,1923,1924,1924,1924,1924,1924,1048488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,3212449
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,1310341
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4019,4019,4019,4019,4019,4019,4019,4019,4019,2248142
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5606,5606,5606,5606,5620,5620,5620,5620,5620,2924366

step -3) -	Use pandas to create a dataframe that aggregates and sums both confirmed cases and deaths on a global level

In [8]:
cases_2019 = dataFrame_confirm_cases_2019[['Province/State','Country/Region','Total_Confirmed_Cases']]

death_2019 = dataFrame_death_cases_2019[['Province/State','Country/Region','Total_Death_Cases']]

TOTAL CASES AND DEATH ON GLOBAL LEVEL:

In [9]:
globalLevelData = pd.merge(cases_2019, death_2019, on=['Province/State','Country/Region'])
globalLevelData

,Province/State,Country/Region,Total_Confirmed_Cases,Total_Death_Cases
0,NaN,Afghanistan,110214917,4673864
1,NaN,Albania,153830108,2143775
2,NaN,Algeria,156966802,4247580
3,NaN,Andorra,20010202,111622
4,NaN,Angola,50040541,1048488
...,...,...,...,...
284,NaN,West Bank and Gaza,345738380,3212449
285,NaN,Winter Olympics 2022,163637,0
286,NaN,Yemen,6744660,1310341
287,NaN,Zambia,163803740,2248142
288,NaN,Zimbabwe,115554724,2924366

5) Use AlphaVantage Key to get the DAILY HIGH and LOW prices for your selected stocks.

In [10]:
acc_key = 'V6ADDIBOGX34JYRJ.'

Stock selection

In [15]:
pip install alpha-vantage

Collecting alpha-vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Collecting aiohttp
  Downloading aiohttp-3.8.3-cp39-cp39-win_amd64.whl (323 kB)
     -------------------------------------- 323.5/323.5 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: requests in c:\users\meet patel\anaconda3\lib\site-packages (from alpha-vantage) (2.28.1)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-win_amd64.whl (56 kB)
     ---------------------------------------- 56.8/56.8 kB ? eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-win_amd64.whl (34 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\meet patel\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (2.0.4)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.3-cp39-cp39-win_amd64.whl (28 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\meet patel\anaconda3\lib\site-packages (from aiohttp->alpha-vantage) (21.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\meet patel\anaconda3\lib\site-packages (from requests->alpha-vantage) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\meet patel\anaconda3\lib\site-packages (from requests->alpha-vantage) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\meet patel\anaconda3\lib\site-packages (from requests->alpha-vantage) (1.26.11)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, alpha-vantage
Successfully installed aiohttp-3.8.3 aiosignal-1.3.1 alpha-vantage-2.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.3 yarl-1.8.2
Note: you may need to restart the kernel to use updated packages.

In [25]:

from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key=acc_key,output_format='pandas')
A_american = ts.get_daily_adjusted('NASDX')
C_canadian = ts.get_daily_adjusted('TSE')
T_travel = ts.get_daily_adjusted('DAL') 
D_real_estate = ts.get_daily_adjusted('ALEX')
P_precious_metals = ts.get_daily_adjusted('GOLD')

create a dataframe for stocks.

In [26]:
df_american = pd.DataFrame(A_american[0]).reset_index(level=0)
df_canadian = pd.DataFrame(C_canadian[0]).reset_index(level=0)
df_travel = pd.DataFrame(T_travel[0]).reset_index(level=0)
df_real_estate = pd.DataFrame(D_real_estate[0]).reset_index(level=0)
df_precious_metals = pd.DataFrame(P_precious_metals[0]).reset_index(level=0)
df_american
df_canadian
df_travel
df_real_estate
df_precious_metals

,date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2022-12-02,16.78,17.140,16.58,16.98,16.980000,18763740.0,0.00,1.0
1,2022-12-01,16.75,17.340,16.67,17.09,17.090000,31207840.0,0.00,1.0
2,2022-11-30,16.03,16.440,15.87,16.32,16.320000,25458234.0,0.00,1.0
3,2022-11-29,15.59,15.960,15.54,15.87,15.870000,15770773.0,0.05,1.0
4,2022-11-28,16.05,16.090,15.50,15.50,15.451319,26018947.0,0.00,1.0
...,...,...,...,...,...,...,...,...,...
95,2022-07-20,15.99,16.045,15.43,15.45,15.299412,22001419.0,0.00,1.0
96,2022-07-19,15.83,16.080,15.71,16.03,15.873759,19009917.0,0.00,1.0
97,2022-07-18,15.96,16.086,15.82,15.82,15.665806,19249811.0,0.00,1.0
98,2022-07-15,15.86,15.880,15.40,15.66,15.507365,24698715.0,0.00,1.0
99,2022-07-14,15.90,15.950,15.27,15.77,15.616293,38960795.0,0.00,1.0

CHANGE COLUMN NAME AS PER REQUIREMRNT [DATE, HIGH, LOW]:

In [27]:
df_american = df_american[['date','2. high','3. low']].rename(columns={"2. high":"american_high","3. low":"american_low"})
df_canadian = df_canadian[['date','2. high','3. low']].rename(columns={"2. high":"canadian_high","3. low":"canadian_low"})
df_travel = df_travel[['date','2. high','3. low']].rename(columns={"2. high":"travel_high","3. low":"travel_low"})
df_real_estate = df_real_estate[['date','2. high','3. low']].rename(columns={"2. high":"real_estate_high","3. low":"real_estate_low"})
df_precious_metals = df_precious_metals[['date','2. high','3. low']].rename(columns={"2. high":"metal_high","3. low":"metal_low"})

Merge stocks on Date

In [28]:
stocks = df_american.merge(df_canadian, on="date").merge(df_precious_metals, on="date").merge(df_real_estate,on="date").merge(df_travel,on="date")
stocks

,date,american_high,american_low,canadian_high,canadian_low,metal_high,metal_low,real_estate_high,real_estate_low,travel_high,travel_low
0,2022-12-01,26.01,26.01,25.44,24.520,17.340,16.670,20.010,19.6100,35.740,35.1050
1,2022-11-30,25.97,25.97,24.70,23.390,16.440,15.870,19.760,19.1000,35.380,34.2050
2,2022-11-29,25.57,25.57,24.39,23.605,15.960,15.540,19.570,19.2850,34.725,33.8800
3,2022-11-28,25.75,25.75,24.14,23.230,16.090,15.500,19.810,19.2850,34.915,33.8700
4,2022-11-25,26.13,26.13,25.12,24.550,16.270,16.015,19.960,19.6013,35.394,34.3558
...,...,...,...,...,...,...,...,...,...,...,...
94,2022-07-20,27.63,27.63,43.76,42.680,16.045,15.430,18.240,17.9300,33.075,32.1350
95,2022-07-19,27.20,27.20,43.99,41.909,16.080,15.710,18.020,17.5900,32.730,31.8100
96,2022-07-18,26.38,26.38,42.99,41.270,16.086,15.820,17.890,17.3100,31.990,31.0600
97,2022-07-15,26.62,26.62,40.52,39.300,15.880,15.400,17.670,17.2400,30.435,29.5400
98,2022-07-14,26.14,26.14,39.55,38.200,15.950,15.270,17.255,17.0500,30.400,29.1000

GroupBy Country/Region

In [29]:
dataFrame_Canada_Death_Cases = dataFrame_death_cases_2019[dataFrame_death_cases_2019['Country/Region'] == "Canada"].groupby("Country/Region").sum()
dataFrame_US_Death_Cases =dataFrame_death_cases_2019[dataFrame_death_cases_2019['Country/Region'] == "US"].groupby("Country/Region").sum()

dataFrame_Canada_Confirmed_Cases = dataFrame_confirm_cases_2019[dataFrame_confirm_cases_2019['Country/Region'] == "Canada"].groupby("Country/Region").sum()
dataFrame_US_Confirmed_Cases =dataFrame_confirm_cases_2019[dataFrame_confirm_cases_2019['Country/Region'] == "US"].groupby("Country/Region").sum()

Drop colums of Lat and Long

In [30]:
canadaDeathCase = dataFrame_Canada_Death_Cases.reset_index().drop(columns=["Lat","Long"]).transpose().reset_index()

canadaDeathCase.columns = ["date","Canada_Death_Cases"]
canadaDeathCase = canadaDeathCase.iloc[1:-1]

USDeathCase = dataFrame_US_Death_Cases.reset_index().drop(columns=["Lat","Long"]).transpose().reset_index()

USDeathCase.columns = ["date","US_Death_Cases"]
USDeathCase = USDeathCase.iloc[1:-1]

canadaConfirmedCase = dataFrame_Canada_Confirmed_Cases.reset_index().drop(columns=["Lat","Long"]).transpose().reset_index()

canadaConfirmedCase.columns = ["date","Canada_Confirmed_Cases"]
canadaConfirmedCase = canadaConfirmedCase.iloc[1:-1]

USConfirmedCase = dataFrame_US_Confirmed_Cases.reset_index().drop(columns=["Lat","Long"]).transpose().reset_index()

USConfirmedCase.columns = ["date","US_Confirmed_Cases"]
USConfirmedCase = USConfirmedCase.iloc[1:-1]

Death and Confirmed Cases on Date

In [37]:
death = canadaDeathCase.merge(USDeathCase, on="date")
confirm = canadaConfirmedCase.merge(USConfirmedCase, on="date")

final = death.merge(confirm, on = "date")

Final Merged DataFrame of Corona Cases and Stock Market

In [36]:
final['date'] = pd.to_datetime(final['date'])

final = final.merge(stocks, on='date',how='left')
final

,date,Canada_Death_Cases,US_Death_Cases,Canada_Confirmed_Cases,US_Confirmed_Cases,american_high_x,american_low_x,canadian_high_x,canadian_low_x,metal_high_x,...,american_high,american_low,canadian_high,canadian_low,metal_high,metal_low,real_estate_high,real_estate_low,travel_high,travel_low
0,2020-01-22,0,0,0,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,0,0,2,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-24,0,0,3,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-25,0,0,3,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-26,0,0,3,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,2022-11-30,48002,1080536,4432426,98807782,25.97,25.97,24.70,23.39,16.44,...,25.97,25.97,24.70,23.39,16.44,15.87,19.76,19.10,35.38,34.205
1044,2022-12-01,48133,1081147,4444843,98924207,26.01,26.01,25.44,24.52,17.34,...,26.01,26.01,25.44,24.52,17.34,16.67,20.01,19.61,35.74,35.105
1045,2022-12-02,48133,1081412,4444912,98962019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,2022-12-03,48133,1081431,4444912,98967906,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,2022-12-04,48133,1081431,4444912,98972375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN